<nav class="navbar navbar-sticky">
	<div class="navbar-start">
		<a class="navbar-item">Demo</a>
	</div>

	<ol class="navbar-end">
		<li><a class="navbar-item" routerLink="/connectors">connectors</a></li>
		<li><a class="navbar-item" routerLink="/zooi/18">zooi 18</a></li>
		<li><a class="navbar-item" routerLink="/zooi/242">zooi 242</a></li>
		<li><a class="navbar-item" routerLink="/zooi/859">zooi 859</a></li>
		<li><a class="navbar-item" routerLink="/rxjs">RxJS</a></li>
		<li><a class="navbar-item" routerLink="/internals">Internals</a></li>
		<li><a class="navbar-item" routerLink="/signaltjes">Signals</a></li>
	</ol>
</nav>

<main class="mt-20">
	<router-outlet />
</main>
