<h2 class="text-3xl font-bold">Connectors</h2>

<table class="table">
	<thead>
		<tr>
			<th>Naam</th>
			<th>Type</th>
			<th>Is reversebaar</th>
			<th>Foto</th>
		</tr>
	</thead>
	<tbody>
		@for (connector of connectors; track $index) {
			<tr
				[class.bg-yellow-8]="connector.reversable"
				(click)="connector.reversable = !connector.reversable"
			>
				<td>{{ connector.name }}</td>
				<td>{{ connector.type | lowercase }}</td>
				<td>{{ connector.reversable }}</td>
				<td><img [src]="connector.photoUrl" class="max-w-24" /></td>
			</tr>
		}
	</tbody>
</table>
